@model TesteDAlessio.UI.WebApp.Models.ContatoModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Contato</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.Partial("_Form", Model)
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
